.btn-toolbar-button {
    background: none;
    border: none;
    color: #f0f0f0;
}

.btn-toolbar-button:hover {
    color: #60a0fe
}

.btn-toolbar-button:focus {
    box-shadow: none;
    outline: none;
}

.btn-mode-radio {
    padding: 0px;
    background: none;
}

.btn-mode-radio.active {
    background-color: cadetblue;
    color: white;
}

.btn-mode-radio.focus {
    box-shadow: none;
    outline: none;
}
